doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/kube.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://openlayers.org/api/OpenLayers.js")
    script(src="/javascripts/preview.js")
  body(onload="init();")
    block content
